<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Selamat Datang - Prediksi Saham</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='golds.png') }}" />
</head>
<body>
  <header>
    <h1>Selamat Datang di Aplikasi Prediksi Harga Emas</h1>
    <h1> KELOMPOK 11</h1>
    <p>11S22007 -  Patricia Agustin Sibarani</p>
    <p>11S22009 - Dhea Grace A. Simanjuntak</p>
    <p>11S22011 - Christian Theofani Napitupulu</p>
    <p>11S22015 - Gabriela Silitonga</p>
    <p>11S22028 - Wesly Baretta Siahaan</p>
  </header>

  <main>
    <section class="form-container">
      <a href="/price" class="button">Start</a>
    </section>
  </main>

  <footer>
    <p>© 2025 Sistem Prediksi Saham. All rights reserved.</p>
  </footer>
</body>
</html>